.contenedor { 
    font-family: sans-serif;
    max-width: 400px;
    margin: 4rem auto;
    text-align: center;
    padding: 2rem;
    border-radius: 12px;
    background: #f8f9fa;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);

}

.pantalla {
 font-size:  4rem;
 font-weight: bold;
 margin: 2rem 0;
 color: #212529;

}

.botones {
    display: flex;
    justify-content: center;
    gap: 2rem;

}

.btn {
    font-size: 2rem ;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 8px ;
    cursor: pointer;
    transition: transform 0.2s;

}

.btn:hover {
    transform: scale(1.1);
}

.menos {
    background: #dc3545;
    color: white;
}

.mas {
    background: #28a745;
    color: white;

}

